.footer{
    padding: rem-calc(30) rem-calc(20);
    color: white;
    background-color: #333;
        h2{
            margin-bottom: rem-calc(20);
            font-family: $title-font;
            font-weight: 400;
            @media screen and (min-width: 1300px) {
                text-align: center;
            }
        }
        &__nav{
            margin: rem-calc(10) 0;
            @media screen and (min-width: 1300px) {
                display: flex;
                justify-content: center;
            }
            li{
                margin-bottom: rem-calc(3);
                @media screen and (min-width: 1300px) {
                    margin: 0 rem-calc(40);
                    display: flex;
                }
                    &:nth-child(1)::before{
                        content: '\f2e7';
                        font-family: 'FontAwesome';
                        margin-right: rem-calc(10);
                        font-size: clamp(1.3rem, 2vw, 1.7rem);
                    }
                    &:nth-child(2)::before{
                        content: '\f4c4';
                        font-family: 'FontAwesome';
                        margin-right: rem-calc(10);
                        font-size: clamp(1.3rem, 2vw, 1.7rem);
                    }
                    a{
                        transition: color 0.4s ease-in-out;
                        &:hover, &:focus{
                            color: $light-primary-color;
                            }
                    }
            }
        }
}