// Header

.header{
    position: relative;
        &__return{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 5%;
            padding: 5px;
                i{
                    font-size: clamp(1.5rem, 2vw, 2rem);
                }
        }
}
    
    .main{
        &__banner{
            max-height: 55vh;
            min-height: 30vh;
        }
        &__location h3{
            font-weight: 400;
        }
        &__menu{  
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0 rem-calc(40);
            position: relative;
            top: -50px;
            @media screen and (min-width: 1300px) {
                flex-direction: row;
            }
                &__title{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-family: "Shrikhand", cursive;
                    font-weight: 500;
                    padding: rem-calc(20);
                    width: 100%;
                    border-radius: rem-calc(30) rem-calc(30) 0 0;
                    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
                    background-color: white;
                    @media screen and (min-width: 1300px) {
                        justify-content: center;
                    }
                }
                .heart{
                    @include flex-center;
                    width: rem-calc(30);
                    height: rem-calc(30);
                    @media screen and (min-width: 1300px) {
                        margin-left: rem-calc(20);
                    }
                    &::before{
                        @include heart;
                    }
                    &::after{
                        @include heart;
                        @include heart-solid;
                        }
                    &:hover::before{
                        color:transparent;
                    }
                    &:hover::after{
                        font-weight: 900;
                        opacity: 1;
                    }
                }
                &__starter, 
                &__dish, 
                &__dessert{
                    padding: rem-calc(10) rem-calc(20) rem-calc(40);
                    width: 100%;
                    @media screen and (min-width: 1300px) {
                        width: 30%;
                        padding-bottom: rem-calc(40);
                    }
                        h3{
                            position: relative;
                            margin-bottom: rem-calc(30);
                            padding-left: rem-calc(10);
                            font-weight: 300;
                            text-transform: uppercase;
                            &::before{
                                content: '';
                                position: absolute;
                                bottom: rem-calc(-10);
                                width: rem-calc(50);
                                height: rem-calc(4);
                                background-color: $color-tertiary;
                                }
                            }
                    }
                &__btn{
                    @include button-style;
                    @include base-shadow;
                    padding: rem-calc(15) rem-calc(40);
                    margin: 0 auto;
                    &:hover{
                        @include button-hover;
                    }
                }
        }
}

.meal{
    display: flex;
    @include base-shadow;
    border-radius: rem-calc(10);
    margin-top: rem-calc(20);
    cursor: pointer;
    overflow: hidden;
    animation: appear 1s both;
    @media screen and (min-width: 1300px) {
        margin-top: rem-calc(40);
    }
    @for $i from 2 through 5{
        &:nth-child(#{$i}){
            animation-delay: 100ms * $i;
        }
    }
        &__description{
            white-space: nowrap;
            overflow: hidden;
            text-overflow:ellipsis;
            padding: rem-calc(10);
            h4{
                overflow: hidden;
                text-overflow:ellipsis;
                font-size: clamp(1.4rem, 2vw, 1.9rem);
            }
            p{
                overflow: hidden;
                text-overflow:ellipsis;
                font-weight: 200;
                font-size: clamp(1.1rem, 2vw, 1.5rem);
            }
        }
        &__price{
            font-weight: 500;
            font-size: clamp(1.2rem, 2vw, 1.5rem);
            margin-left: auto;
            flex-shrink: 0;
            display: flex;
            align-items: flex-end;
            padding: rem-calc(10) rem-calc(25) rem-calc(10) rem-calc(5);
        }
        &__check{
            @include flex-center;
            margin-right: -65px;
            width: 65px;
            padding: 0 rem-calc(15);
            background-color: $color-tertiary;
            transition: margin-right 0.4s ease-in-out;
                &::after{
                    content: '\f00c';
                    font-family: 'FontAwesome';
                    padding: rem-calc(5);
                    border-radius: 50%;
                    color: $color-tertiary;
                    font-size: rem-calc(15);
                    background-color: #fff;
                    transition: transform 0.4s ease-in-out;
                    @media screen and (min-width: 1300px) {
                        padding: rem-calc(10);
                    }
                }
                }
                &:hover &__check,
                &:focus &__check{
                    margin-right: 0;
                }
                &:hover &__check::after,
                &:focus &__check::after{
                    transform: rotate(360deg);
                }

}

    






