// Font-size
$base-font-size : 16px;

// Main colors
$color-primary : #9356DC;
$light-primary-color : lighten($color-primary, 5%);

$color-secondary : #FF79DA;
$light-secondary-color : lighten($color-secondary, 5%);

$color-tertiary : #99E2D0;

$gradient : linear-gradient(to bottom, $color-secondary, $color-primary 80%);
$light-gradient : linear-gradient(to bottom, $light-secondary-color, $light-primary-color 80%);

// Font-family
$text-font : 'Roboto', sans-serif;
$title-font : 'Shrikhand', cursive;

